.card-columns{
    margin-top: 40px;
    margin-bottom: 25px;
    border-bottom: 5px solid black;
}

.card-columns .card{
    max-width: auto;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid black;
}

.card-columns .card .card-img-top{
    max-width: 100%;
}

.card-columns .card .card-title{
    background-color: rgba(24, 24, 24, 0.849);
    color: #fff;
    padding-left: 5px;
}

.card-columns .card .card-text{
    background-color: rgba(92, 92, 92, 0.856);
    color: #fff;
    padding-left: 5px;
    margin-top: 4px;
}

.card-columns .card .tags{
    background-color: rgb(49, 45, 45);
    color: #fff;
    padding:2px;
}


.card-deck{
    margin-top: 20px;
}
